.grid {
    margin-top: 20rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
    gap: 5rem;
    grid-auto-rows: 70rem;
    /* Set a default row height for all rows */
}

.grid-small {
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 5rem;
    grid-auto-rows: 57rem;
    direction: rtl;

    /* Set a default row height for all rows */
}

.reverse {
    &>* {
        direction: ltr;
    }
}

/* Define specific heights for the first two rows */
.grid> :nth-child(1),
.grid> :nth-child(2) {
    grid-row: span 1;
    /* Set the number of rows these items should occupy */
}

/* Ensure the height for rows beyond the first two */
.grid> :nth-child(n+3) {
    grid-row: span 1;
    /* Set the number of rows these items should occupy */
}