.grid {
    margin-top: 20rem;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    grid-template-rows: repeat(2, 60rem);
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 5rem;
}

.grid-item {
    position: relative;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(157, 157, 157, 0.514)
}

.grid-item::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 60%, #373737a0);
}

.item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-name {
    position: absolute;
    bottom: 0;
    right: 5rem;
    font-size: 4.5rem;
    z-index: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
}