.about-container {
    width: 100%;
    margin-top: 7rem;
}

.container-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 5rem;
    flex: 3.6;
}

.divider {
    width: 8rem;
    border: 2px solid var(--default-font-color);
}

.heading-secondary {
    font-size: 4.2rem;
    color: var(--default-font-color);
}

.container-text {
    font-size: var(--medium-font-size);
    color: var(--primary-font-color);
}