.nav-container {
    background-image: linear-gradient(to right, #5f676a, #d3d8dc);
    width: 100%;
    height: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10rem), 0 100%);
    padding: 3rem;
    padding-left: 5rem;
    display: flex;
    justify-content: space-between;
}

.container-links {
    display: flex;
    gap: 2rem;
    width: fit-content;
    height: fit-content;
    position: relative;

}

.active-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 14rem;
    height: 100%;
    background-color: #fff3;
    border-radius: 5px;
    transition: all .2s;
    z-index: -1;
}

.nav-link:link,
.nav-link:visited {
    font-size: var(--large-font-size);
    text-decoration: none;
    height: fit-content;
    padding: .5rem;
    border-radius: 5px;
    width: 14rem;
    text-align: center;
    transition: all .1s;
}

.nav-link:active {
    background-color: rgba(188, 188, 188, 0.2);
}

.container-btns {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    margin-top: -1rem;
}

.btn-icon {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    transition: all .1s;
    position: relative;
    padding: 1rem;
    border-radius: 50%;
    transition: all .1s;
    transform-origin: center;
}

.btn-icon:hover {
    background-color: #fff6;
}

.btn-icon:active {
    background-color: rgba(240, 240, 240, 0.425);
}

.btn-icon:active>svg {
    transition: all .1s ease;
    scale: .9;
}