:root {
  --color-black: #000;
  --color-white: #fff;

  /*/////////////////////////
  ///// FONT COLORS */
  --default-font-color: #434343;
  --primary-font-color: #666666;
  --secondary-font-color: gray;
  --tertiary-font-color: #bebebe;

  /*/////////////////////////
  ///// FONT SIZES */
  --default-font-size: 1.6rem;
  --small-font-size: 1rem;
  --medium-font-size: 2rem;
  --large-font-size: 3rem;
  --x-large-font-size: 5rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
  letter-spacing: .5px;
}

* {
  box-sizing: inherit;
  color: currentColor;
  font-weight: 400;
}

body {
  margin: 0;
}

/* @media (max-width: 500px) {
  body {
    zoom: 1;
  }
} */

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d3d3d3b8;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

input::placeholder {
  color: #b9babc;
}

input:hover {
  outline: none;
}

.main-heading {
  margin: auto;
  font-size: 6.5rem;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #f6f7f8, var(--tertiary-font-color), #f6f7f8);
  width: 70%;
  clip-path: polygon(8rem 0, 100% 0, calc(100% - 8rem) 100%, 0 100%);
  padding: 1.5rem;
  margin-bottom: 3rem;
}